body{
    background-color: rgba(0, 64, 53, 0.97);
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

section {    
    background-color: rgba(255, 255, 255, 0.736);
    color: rgb(0, 0, 0);
    max-width: 450px;
    margin: 100px auto;
    padding: 10px;
    border-radius: 20px;
    border-style: double solid;
    text-align: center;
    font-size: large;
    min-height : 200px;
}

#a1, #a2, #a3, #a4, #n2 {
    width: 40px;
    border-radius: 5px;
}

#btn{
    border-color: rgb(102, 102, 255);
    padding: 8px;
    border-radius: 10px;
}

#btn:hover{    
    transition: 0.4s;
    background-color: rgb(58, 58, 255);
    color: white;

}

#res {
    text-align: center;
    display: inline;
    background-color: greenyellow;
}

#res1 {
    text-align: center;
    background-color: rgb(255, 117, 117);
    display: inline;

}